
<form [formGroup]="UpdateForm" (ngSubmit)="onSubmit()" padding-right>
  <ion-item>
    <ion-label position="floating">Name*</ion-label>
    <ion-input type="text" formControlName="Name" required></ion-input>
    <div *ngIf="UpdateForm.get('Name').invalid && (UpdateForm.get('Name').dirty || UpdateForm.get('Name').touched)"
          class="alert alert-danger">
         <div *ngIf="UpdateForm.get('Name').errors.required">
          Name is required.
         </div>
    </div>
  </ion-item>
    <ion-item>
      <ion-label position="floating">Author*</ion-label>
      <ion-input type="text" formControlName="Author" required></ion-input>
    <div *ngIf="UpdateForm.get('Author').invalid && (UpdateForm.get('Author').dirty || UpdateForm.get('Author').touched)"
          class="alert alert-danger">
         <div *ngIf="UpdateForm.get('Author').errors.required">
          Author is required.
         </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Theme*</ion-label>
    <ion-input type="Theme" formControlName="Theme" required></ion-input>
    <div *ngIf="UpdateForm.get('Theme').invalid && (UpdateForm.get('Theme').dirty || UpdateForm.get('Theme').touched)"
          class="alert alert-danger">
         <div *ngIf="UpdateForm.get('Theme').errors.required">
          Theme is required.
         </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Image url*</ion-label>
    <ion-input type="Img" formControlName="Img" required></ion-input>
    <div *ngIf="UpdateForm.get('Img').invalid && (UpdateForm.get('Img').dirty || UpdateForm.get('Img').touched)"
          class="alert alert-danger">
         <div *ngIf="UpdateForm.get('Img').errors.required">
          Image url is required.
         </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pdf url*</ion-label>
    <ion-input type="Pdf" formControlName="Pdf" required></ion-input>
    <div *ngIf="UpdateForm.get('Pdf').invalid && (UpdateForm.get('Pdf').dirty || UpdateForm.get('Pdf').touched)"
          class="alert alert-danger">
         <div *ngIf="UpdateForm.get('Pdf').errors.required">
          Pdf url is required.
         </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Vues*</ion-label>
    <ion-input type="number" formControlName="Vues" required></ion-input>
    <div *ngIf="UpdateForm.get('Vues').invalid && (UpdateForm.get('Vues').dirty || UpdateForm.get('Vues').touched)"
          class="alert alert-danger">
         <div *ngIf="UpdateForm.get('Vues').errors.required">
          Vues is required.
         </div>
         <div *ngIf="UpdateForm.get('Vues').errors.min">
          Vues must be positive
         </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Likes*</ion-label>
    <ion-input type="number" formControlName="Likes" required></ion-input>
    <div *ngIf="UpdateForm.get('Likes').invalid && (UpdateForm.get('Likes').dirty || UpdateForm.get('Likes').touched)"
          class="alert alert-danger">
         <div *ngIf="UpdateForm.get('Likes').errors.required">
          Likes are required.
         </div>
         <div *ngIf="UpdateForm.get('Likes').errors.min">
          Likes must be positive
         </div>
    </div>
  </ion-item>
  <ion-button type="submit" expand="block" [disabled]="!UpdateForm.valid" >Update</ion-button>
</form>
