<ion-list text-wrap>
  <ion-list-header><h1>Book informations</h1></ion-list-header>
  <ion-item>
    <ion-label>
      <strong>Book Id:</strong>
      <p>{{book.livreId}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <strong>Book name:</strong>
      <p>{{book.nom}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <strong>Author:</strong>
      <p>{{book.auteur.nom}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <strong>Theme:</strong>
      <p>{{book.theme.nom}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <strong>Image url:</strong>
      <p>{{book.img}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>
      <strong>PDF url:</strong>
      <p>{{book.pdf}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <strong>Number of vues:</strong>
      <p>{{book.vues}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <strong>Number of likes:</strong>
      <p>{{book.jaimes}}</p>
    </ion-label>
  </ion-item>
</ion-list>
