
  <ion-tabs >
    <ion-tab-bar slot="bottom" color="warning">
      <ion-tab-button tab="booklist">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="library-outline"></ion-icon>
        <ion-label>Library</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>
  
